
<link rel="stylesheet" href="../assets/css/bootstrap.min.css+font-awesome.min.css+owl.carousel.min.css+magnific-popup.css+slicknav.min.css+style.css.pagespeed.cc.w0Ubuvfryu.css" type="text/css" />
<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
<div class="canvas-close">
<i class="fa fa-close"></i>
</div>
<div class="search-btn search-switch">
<i class="fa fa-search"></i>
</div>
<div class="header__top--canvas">
<div class="ht-info">
<ul>
<li>20:00 - May 19, 2019</li>
<li><a href="#">Sign in</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
</div>
<ul class="main-menu mobile-menu">
<li class="active"><a href="index.html">Acceuil</a></li>
<li><a href="club.html">Match</a></li>
<li><a href="schedule.html">A props</a></li>
<li><a href="result.html">Results</a></li>
<li><a href="#">Règles</a></li>
<li><a href="#">Aide</a>
<li><a href="contact.html">Faq</a></li>
</ul>
<div id="mobile-menu-wrap"></div>
</div>


<header class="header-section">
<div class="header__top">
<div class="container">
<div class="row">
  <div class="col-lg-3">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input  type="text" class="form-control" name="recherche" placeholder="Rechercher">
    </div>
  </div>
    <div class="col-lg-8">
      <div class="ht-links">
        <form class="form-inline">
          <div class="form-group mb-2">
            <label for="staticEmail2" class="sr-only">Email</label>
            <input type="text" class="form-control" id="staticEmail2" value="email@example.com">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-danger mb-2">Se connecter</button>
        </form>
      </div>
    </div>
    <div class="col-lg-1">
      <a class="btn btn-secondary mb-2">S'inscrire</a>
    </div>
    
</div>
</div>
</div>
<div class="header__nav">
<div class="container">
<div class="row">
<div class="col-lg-2">
<div class="logo">
<a href="index.html"><img src="../assets/img/logo.png" alt=""></a>
</div>
</div>
<div class="col-lg-10">
<div class="nav-menu">
<ul class="main-menu">
<li class="active"><a href="index.html">Acceuil</a></li>
<li><a href="club.html">Matchs</a></li>
<li><a href="schedule.html">à propos</a></li>
<li><a href="result.html">Règles</a></li>
<li><a href="#">Aide</a></li>
<li><a href="#">Faq</a>
</li>
</ul>

</div>
</div>
</div>
<div class="canvas-open">
<i class="fa fa-bars"></i>
</div>
</div>
</div>
</header>


<section class="hero-section set-bg">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="hs-item">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="hs-text">
<h4>30 september 2019 / 9:00 GMT+0000</h4>
<h2>Airrosten VS Lerenort in London</h2>
<a href="#" class="primary-btn">More Details</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<div class="trending-news-section">
<div class="container">
<div class="tn-title"><i class="fa fa-caret-right"></i> Trending News</div>
<div class="news-slider owl-carousel">
  <div class="tn-title"><i class="fa fa-caret-right"></i> Trending News</div>
</div>
</div>
</div>