<title>Pari Admin Liste modérateur</title>
<div class="container">
  <h1 class="titre">Gestion modérateur </h1>
  <div class = "content-rendu">
    <h1 class="h4 text-gray-900 mb-4 titre">Liste des modérateurs</h1>
    <div class="pagination">
      <div class="d-flex justify-content-center">
        <p class="result">Résultats par page</p>
          <div class="p-2 bd-highlight">
              <select (change)="tableData($event)" class="custom-select">
                <option *ngFor="let size of tableSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
          </div>
          <div class="pagine">
            <pagination-controls responsive="true"  previousLabel="<"
            nextLabel=">" (pageChange)="tabSize($event)"></pagination-controls>
          </div>
      </div>
    </div>
        <!--<nav>
          <a routerLink="/assignment/{{a.id}}">-->
          <div class="mycard">
            <mat-card *ngFor="let mod of lists | paginate : {
              itemsPerPage: limit,
              currentPage: page,
              totalItems: count
            };">
              <div class="row">
                <div class="col-md-6">
                  <mat-card-header>
                      <mat-card-subtitle>
                        <h4 mat-subheader class="subtitle">
                          <a routerLink="/back/modifModerateur/{{mod.idUtilisateur}}" class="title">
                            {{mod.nomCompletUtilisateur}}
                          </a>
                        </h4>
                        <p>Email : {{mod.emailUtilisateur}}</p>
                        <p>Née le {{ mod.dateNaissanceUtilisateur | date:"dd/MM/yyyy" }}</p>
                      </mat-card-subtitle>
                  </mat-card-header>
                </div>
                <div class="col-md-2">
                  <mat-card-actions>
                    <a routerLink="/back/modifModerateur/{{mod.idUtilisateur}}">
                      <i class="fas fa-pen-square action_edit" title="Modifier"></i>
                    </a>
                  </mat-card-actions>
                </div>
                <div class="col-md-1">
                  <mat-card-actions>
                    <a (click)="openDialogDelete(a.id)">
                      <i class="fas fa-trash action_delete" title="Supprimer"></i>
                    </a>
                  </mat-card-actions>
                </div>
                <div class="col-md-3">
                  <img src="{{urlDownload + mod.profilUtilisateur}}" alt="image_profil" class="image_profil">
                </div>
              </div>
            
              <hr>
            </mat-card>
          </div>
          <div class="pagination">
            <div class="d-flex justify-content-center">
              <p class="result">Résultats par page</p>
                <div class="p-2 bd-highlight">
                    <select (change)="tableData($event)" class="custom-select">
                      <option *ngFor="let size of tableSizes" [ngValue]="size">
                        {{ size }}
                      </option>
                    </select>
                </div>
                  <div class="pagine">
                    <pagination-controls responsive="true"  previousLabel="<"
                    nextLabel=">" (pageChange)="tabSize($event)"></pagination-controls>
                  </div>
            </div>
          </div>
  </div>
</div>
