<title>{{title}}</title>
<body style="background-color:#f8f9fc">
  <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
          <div class="col-xl-10 col-lg-12 col-md-9">
              <div class="card o-hidden border-0 shadow-lg my-5">
                  <div class="card-body p-0">
                      <!-- Nested Row within Card Body -->
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="title">PARI Admin <sup>2</sup></div>
                        </div>
                      </div>
                      <div class="row">
                          <!--<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                          <div class="col-lg-3"></div>
                          <div class="col-lg-6">
                              <div class="p-5">
                                  <div class="text-center" *ngIf="isAuth">
                                      <h1 class="h4 text-gray-900 mb-4">Authentification</h1>
                                  </div>
                                  <div class="text-center" *ngIf="isVerifyMail">
                                    <h1 class="h4 text-gray-900 mb-4">Vérification Email</h1>
                                  </div>
                                  <div class="text-center" *ngIf="isChangePassword">
                                    <h1 class="h4 text-gray-900 mb-4">Changement mot de passe</h1>
                                  </div>
                                  <form [formGroup] = "authForm" class="user" (submit)="auth()" method="post" *ngIf="isAuth">
                                      <div class="form-group">
                                          <label>Email:</label>
                                          <input type="email"  [class.is-invalid] = "authForm.get('email').invalid && authForm.get('email').touched"  class="form-control form-control-user" formControlName="email"  placeholder="Entrer adresse éléctronique"/>
                                          <div *ngIf="(authForm.get('email').invalid) || authForm.get('email').dirty">
                                            <small class="error_login" *ngIf="(authForm.get('email').touched && authForm.get('email').errors?.required)">Email obligatoire.</small>
                                            <small class="error_login" *ngIf="(authForm.get('email').touched && authForm.get('email').errors?.pattern)">Email invalide.</small>
                                          </div>
                                        </div>
                                      <div class="form-group">
                                          <label for="">Mot de passe<span class='required-indicator'>*</span></label>
                                          <input [class.is-invalid] = "authForm.get('password').invalid && authForm.get('password').touched" formControlName="password" type="password" class="form-control form-control-user"
                                              id="exampleInputPassword" placeholder="Entrer mot de passe">
                                              <div *ngIf="(authForm.get('password').invalid) || authForm.get('password').dirty">
                                                <small class="error_login" *ngIf="(authForm.get('password').touched && authForm.get('password').errors?.required)">Mot de passe obligatoire.</small>
                                                <small class="error_login" *ngIf="(authForm.get('password').touched && authForm.get('password').errors?.minlength)">Mot de passe doit supérieur {{minLength}} caractères.</small>
                                              </div>
                                      </div>

                                      <button class="btn btn-primary btn-user btn-block" [disabled] ="!authForm.valid">
                                          Se connecter
                                      </button>
                                      <hr>
                                      <div class="text-center">
                                        <a class="small mot" (click)="formVerifyMail()">Mot de passe oublié!</a>
                                      </div>
                                      <hr>
                                      <div *ngIf="invalid_login" class="text-center">
                                          <h5 class="error_auth"><i class="fa fa-times"></i>  {{invalid_login_msg}}</h5>
                                      </div>
                                  </form>

                                  <form [formGroup] = "verifyMailForm" class="user" (submit)="verifyMail()" method="post" *ngIf="isVerifyMail">
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="email"  [class.is-invalid] = "verifyMailForm.get('email').invalid && verifyMailForm.get('email').touched"  class="form-control form-control-user" formControlName="email"  placeholder="Entrer adresse éléctronique"/>
                                        <div *ngIf="(verifyMailForm.get('email').invalid) || authForm.get('email').dirty">
                                          <small class="error_login" *ngIf="(verifyMailForm.get('email').touched && verifyMailForm.get('email').errors?.required)">Email obligatoire.</small>
                                          <small class="error_login" *ngIf="(verifyMailForm.get('email').touched && verifyMailForm.get('email').errors?.pattern)">Email invalide.</small>
                                        </div>
                                      </div>
                                    <button class="btn btn-primary btn-user btn-block" [disabled] ="!verifyMailForm.valid">
                                        Verifier
                                    </button>
                                    <hr>
                                    <div *ngIf="invalid_verify_mail" class="text-center">
                                      <h5 class="error_auth"><i class="fa fa-times"></i>   {{invalid_verifyMail_msg}}</h5>
                                  </div>
                                </form>
                                <form [formGroup] = "repasswordForm" class="user" (submit)="updatePassword()" method="post" *ngIf="isChangePassword">
                                  <div class="form-group">
                                    <label for="">Nouveau mot de passe<span class='required-indicator'>*</span></label>
                                    <input [class.is-invalid] = "repasswordForm.get('password').invalid && repasswordForm.get('password').touched" formControlName="password" type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Entrer mot de passe">
                                        <div *ngIf="(repasswordForm.get('password').invalid) || repasswordForm.get('password').dirty">
                                          <small class="error_login" *ngIf="(repasswordForm.get('password').touched && repasswordForm.get('password').errors?.required)">Mot de passe obligatoire.</small>
                                          <small class="error_login" *ngIf="(repasswordForm.get('password').touched && repasswordForm.get('password').errors?.minlength)">Mot de passe doit supérieur {{minLength}} caractères.</small>
                                        </div>
                                  </div>
                                  <button class="btn btn-primary btn-user btn-block" [disabled] ="!repasswordForm.valid">
                                      Changer
                                  </button>
                                  <hr>
                                  <div *ngIf="invalid_change_password" class="text-center">
                                    <h5 class="error_auth"><i class="fa fa-times"></i>  {{invalid_change_password_msg}}</h5>
                                  </div>
                                  <div *ngIf="valid_change_password" class="text-center">
                                    <h5 class="valid_register"><i class="fa fa-check"></i>  {{valid_change_password_msg}}</h5>
                                  </div>
                                  <hr>
                                  <div class="text-center">
                                    <a class="small mot" (click)="formAuth()">Se connecter</a>
                                  </div>
                              </form>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
