<title>Pari Admin</title>
<!-- Page Wrapper -->
<div id="wrapper">
	<!-- Sidebar -->
	<app-navig-bar></app-navig-bar>
	<!-- End of Sidebar -->
	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Main Content -->
		<div id="content">
			<!-- Topbar -->
			<app-top-bar></app-top-bar>
			<!-- Begin Page Content -->
			<div class="container-fluid">
				<!-- Page Heading -->
            <router-outlet></router-outlet>
				<!-- Page Heading -->
        </div>
    </div>
    <!-- /.container-fluid -->

				<!-- Content Row -->
		<!-- /.container-fluid -->
		<!-- End of Main Content -->

		<!-- Footer -->
		<app-footer></app-footer>
		<!--end footer-->
	</div>
	<!-- End of Content Wrapper -->
	<!-- End of Page Wrapper -->
</div>
