.nav-item :hover
{
  font-weight: bold;
}
.sidebar .nav-item.active .nav-link{
  font-weight: 700;
  border-radius: 1px;
  font-size: 15px;
}

.logout :hover{
  cursor: pointer;
}
.title
{
  text-align: center;
    font-size: xx-large;
    color: navy;
    font-weight: bold;
}
.selectRole{
  border-radius: 10rem;
  color: black;
}
.selectRole [selected]{
  color: navy;
}
.error_login{
  color: #e74a3b;
  text-align: center;

}

.error_auth{
  color: red;
}
.valid_register{
  color: green;
}

.profil
{
  margin: 45% 50% 50% 30%;
  border: white solid 7px;
  border-radius: 30px;
}
