<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="titre">Gestion  des utilisateurs</h1>
  <p class="mb-4 titre">Action de bloquer les utilisateurs qui ont des commentaires signalés.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h4 class="m-0 font-weight-bold text-primary">Liste des utilisateurs(clients).</h4>
      </div>
      <div class="pagination">
        <div class="d-flex justify-content-center">
          <p class="result">Résultats par page</p>
            <div class="p-2 bd-highlight">
                <select (change)="tableData($event)" class="custom-select">
                  <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{ size }}
                  </option>
                </select>
            </div>
            <div class="pagine">
              <pagination-controls responsive="true"  previousLabel="<"
              nextLabel=">" (pageChange)="tabSize($event)"></pagination-controls>
            </div>
        </div>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Profil</th>
                          <th>Nom</th>
                          <th>Email</th>
                          <th>Date Naissance</th>
                          <th>Commentaires signalés</th>
                          <th>Action</th>
                          <th>Note</th>
                      </tr>
                  </thead>
                  <tbody>

                      <tr *ngFor="let cl of lists | paginate : {
                        itemsPerPage: limit,
                        currentPage: page,
                        totalItems: count
                      };">
                          <td>  <img class="img-profile rounded-circle"
                            src="{{urlDownload + cl.profilUtilisateur}}"></td>
                          <td>{{cl.nomCompletUtilisateur}}</td>
                          <td>{{cl.emailUtilisateur}}</td>
                          <td>{{ cl.dateNaissanceUtilisateur | date:"dd/MM/yyyy" }}</td>
                          <td>
                            <ul *ngIf="cl.commentaire_signale.length != 0">
                              <li *ngFor ="let com of cl.commentaire_signale">
                                {{com.commentaire}}
                              </li>
                            </ul>
                            <p *ngIf="cl.commentaire_signale.length == 0">Aucun commantaire</p>
                          </td>
                          <td>
                            <button type="button" class="btn btn-primary btn-sm" *ngIf = "!cl.est_bloque" [disabled] = "cl.commentaire_signale.length == 0" (click)="openConfirmationBloque(cl.idUtilisateur,true)">Bloquer</button>
                            <button type="button" class="btn btn-primary btn-sm" *ngIf = "cl.est_bloque" (click)="openConfirmationBloque(cl.idUtilisateur,false)">Débloquer</button>
                          </td>
                          <td>
                            <p *ngIf="cl.est_bloque" class="bloque">Commentaire bloqué.</p>
                            <p *ngIf="!cl.est_bloque" class="actif">Commentaire activé.</p>
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
      </div>
      <div class="pagination">
        <div class="d-flex justify-content-center">
          <p class="result">Résultats par page</p>
            <div class="p-2 bd-highlight">
                <select (change)="tableData($event)" class="custom-select">
                  <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{ size }}
                  </option>
                </select>
            </div>
            <div class="pagine">
              <pagination-controls responsive="true"  previousLabel="<"
              nextLabel=">" (pageChange)="tabSize($event)"></pagination-controls>
            </div>
        </div>
      </div>
  </div>
 </div>
